<strong>Hello, {{ partner }}!</strong>
<p>A new order is ready to ship, check informations below:</p>
<strong>Recipient: </strong> {{ recipient }} <br/>
<strong>Street: </strong> {{ street }} <br/>
<strong>Number: </strong> {{ number }} <br/>
<strong>Complement: </strong> {{ complement }} <br/>
<strong>Zip: </strong> {{ zip }} <br/>
<strong>City: </strong> {{ city }} <br/>
<strong>State: </strong> {{ state }} <br/>
<br/>
<small>Don't forget to confirm the start-date ship when you are ready. =D</small>
